<div class="place-poll poll">
  <app-voting *ngIf="event.chosen_place === undefined" itemType="place"
              pollTitle="Place poll" [votingItems]="placePollVotingItems" [isAdmin]="isAdmin"
              [nbParticipants]="event.participants.length" [currentUser]="currentUser"
              (changedVote)="changeVote($event)" (choseItem)="choosePlace($event)">
    <form (ngSubmit)="createPlace()" class="inline-form" *ngIf="event.is_open_to_places || isAdmin">
      <div class="input">
        <div class="input-with-icon">
          <fa-icon class="icon" [icon]="faMapMarkerAlt"></fa-icon>
          <input type="text" [(ngModel)]="placeName" name="place_name" placeholder="suggest a place" autocomplete="off" required>
        </div>
      </div>
      <button class="btn" [disabled]="waitingForResponse">
        <app-spinner *ngIf="waitingForResponse"></app-spinner>
        <span *ngIf="!waitingForResponse">Ok</span>
      </button>
    </form>
  </app-voting>

  <div class="chosen-item-container" *ngIf="event.chosen_place !== undefined">
    <div class="chosen-item">
      <fa-icon [icon]="faMapMarkerAlt" class="icon"></fa-icon>
      <div class="place-name">{{ event.chosen_place.name }}</div>
    </div>
    <div class="actions" *ngIf="isAdmin && event.has_place_poll">
      <button class="btn btn-thin" (click)="deleteChosenPlace()">Re-open the place poll</button>
    </div>
  </div>
</div>


