<div class="date-poll poll">

  <app-voting *ngIf="event.chosen_date === undefined" itemType="date"
              pollTitle="Date poll" [votingItems]="datePollVotingItems" [isAdmin]="isAdmin"
              [nbParticipants]="event.participants.length" [currentUser]="currentUser"
              (changedVote)="changeVote($event)" (choseItem)="chooseDate($event)">
    <form (ngSubmit)="createDate()" class="inline-form" *ngIf="event.is_open_to_dates || isAdmin">
      <div class="input">
        <div class="input-with-icon">
          <fa-icon class="icon" [icon]="faCalendarAlt"></fa-icon>
          <input type="text" [(ngModel)]="date" name="date" placeholder="suggest a date"
                 [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" autocomplete="off" required>
          <owl-date-time stepMinute="5" [startAt]="startAt" #dt1></owl-date-time>
        </div>
      </div>
      <button class="btn" [disabled]="waitingForResponse">
        <app-spinner *ngIf="waitingForResponse"></app-spinner>
        <span *ngIf="!waitingForResponse">Ok</span>
      </button>
    </form>
  </app-voting>

  <div class="chosen-item-container" *ngIf="event.chosen_date !== undefined">
    <div class="chosen-item">
      <fa-icon [icon]="faCalendarAlt" class="icon"></fa-icon>
      <div class="date">{{ event.chosen_date.date | date: 'LLL dd yyyy, HH:mm' }}</div>
    </div>
    <div class="actions" *ngIf="isAdmin && event.has_date_poll">
      <button class="btn btn-thin" (click)="deleteChosenDate()">Re-open date poll</button>
    </div>
  </div>

</div>
